---
---
<!DOCTYPE html>
<html lang="en">
{% include header.html %}

<body>
    <span id="circle" class="circle"></span>
    
    {% include navbar.html %}

    {% include profile.html %}

    {% include bio.html %}

    {% include projects.html %}

    {% include experience.html %}

    {% include education.html %}

    {% include podMember.html %}
    
    {% include contact.html %}
    
    {% include google-analytics.html %}
</body>

{% include footer.html %}

<script src="./assets/js/slider.js"></script>

</html>