<style type="text/css" media="screen">
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

    .contact{
        font-family: 'Poppins', sans-serif;
    }

    #heading {
      text-align: center;
      background-color: #ebf0f5;
      border: 2px solid #e1e1e3;
      height: 40px;
    }
    h3 {
        margin-top: 6px;
    }
    .contactform {
        margin-top: 12px;
        margin-right: auto;
        margin-left: auto;
        width: 500px;
    }
    .cfdiv {
        /* margin-top: 10px; */
        margin-bottom: 10px;
    }
    input {
        height:35px;
        width: 500px;
        border: 2px solid #e1e1e3;
    }
    textarea {
        height:80px;
        width: 500px;
        border: 2px solid #e1e1e3;
    }
    button {
        height: 35px;
        width: 70px;
        background-color: #3923a6;
        color: white;
        border: 2px solid #e1e1e3;
        outline: none;
        opacity: 0.8;
        transition: 0.5s;
    }

    button:hover {opacity: 1.5}
  </style>

<div class="contact">
    <div id="heading"><h3>Contact Us</h3></div>
    <div class="contactform">
        <form action="{{site.form_url}}" method="POST">
            <label>Name</label>
            <div class="cfdiv"><input type="text" name="name" placeholder="Your name..." required="true"/></div>
            <label>Email</label>
            <div class="cfdiv"><input type="email" name="email" placeholder="Your email..." required="true"/></div>
            <label>Message</label>
            <div class="cfdiv"><textarea name="message" placeholder="Write Something..." required="true"></textarea></div>
            <button type="submit">Submit</button>
        </form>
    </div>
    
</div>
