<a id="memdivoffset"></a>
<h2 id="memdiv">Team-1 Members</h2>
  <div class="containerr">
    <div class="cardd">
      <h3 class="titlee">Ahana Datta</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <img class="profileimg" style='border-radius: 50%;' src="./assets/img/ahana.jpg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Patrick Ofili</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <img class="profileimg" style='border-radius: 50%;' src="./assets/img/Patrick.jpg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Simran Singh</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <img class="profileimg" style='border-radius: 50%;' src="./assets/img/simran.jpeg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>

  </div>
