<body>
  <h2>Pod Members</h2>
  <div class="containerr">
    <div class="cardd">
      <h3 class="titlee">Name</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Name</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Name</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Name</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Name</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Name</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Name</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Name</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
  </div>
  <div class="containerr">
    <div class="cardd">
      <h3 class="titlee">Name</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Name</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Name</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Name</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Name</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Name</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Name</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Name</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
  </div>
</body>
