@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'navbar';
@import 'profile';
@import 'page';
@import 'contact';
@import 'footer';

/*-----Dark-Mode------*/
.dark-mode{
  background-color: #121212!important;
  color: #fff;
}

.dark-mode .nav-bar{
  background-color: #4a1ad9;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}
.dark-mode .card{
  background-color: #121212!important;
  color: #fff;
  border: 1px solid #fff;
}

.dark-mode .profile, .dark-mode .footer{
  background-color: #4a1ad9!important;
}

.dark-mode .resume-button{
  background-color: #4a1ad9;
  border: 1.5px solid #fff;
  color: #fff;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

@media only screen and (max-width: 1500px) {
	.card-container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media only screen and (max-width: 1000px) {
	.card-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;

    .card {
      flex-direction: column;
      margin: 0.5em;
      padding: 1em;
    }
  }
}

body {
  background-color: #f5f5f9;
}

h2 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 30px;
  background-color: white;
  border-radius: 0.375rem;
  padding: 1.5em;
  font-size: 1.2em;
}

a {
  color: black;
}

.info {
  p {
    margin-top: 5px;
    margin: 0px;
    text-align: left;
  }

  .title {
    font-size: 500;
    font-weight: bold;
  }

  .location {
    font-size: medium;
    font-weight: 400;
  }

  .dates {
    font-size: small;
    color: #404040;
  }
}

.icon {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  padding: 10px;

  img {
    width: 100%;
  }
}
.project > .content {
  color: white;
  display: none;
  top: 0;
  left: 0;
  cursor: pointer;
}
.project:hover {
  background-color: #1c539f;
}
.project:hover > .content {
  display: block;
}

.project:hover > .info {
  display: none;
}

.arrow {
  float: right;
}
