.nav-logo {
  height: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo img {
  width: 200px;
}

nav {
  display: block;
  width: 100%;
  text-align: right;
  padding-top: 0px;
  padding-right: 0px;
  font-family: 'Poppins', serif;
}

.resume-button {
  border-radius: 4px;
  padding: 5px 12px 5px 12px;
  background-color: #f5f5f9;
  border: 1px solid white;
  font-weight: 600;
  color: #1c539f;
}

.resume-button:hover {
  background-color: #f5f5f9e7;
}
.navlinks {
  display: block;
  justify-content: center;
  margin-right: 2vw;
}
.navlinks a {
  color: #f5f5f9;
  padding-right: 20px;
  font-weight: bold;
  font-size: large;
}

.navlinks a:hover {
  text-decoration: underline;
}

#projectdivoffset{
  display:block;
  position:relative;
  top:-160px;
  visibility:hidden
}

#expdivoffset{
  display:block;
  position:relative;
  top:-100px;
  visibility:hidden
}
