.profile {
  background-color: #1d539f !important;
  // background-color: red !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
  h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: white;
    margin-bottom: 30px;
    transition: all 0.3s;
  }

  img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
  }

  .profile-picture {
    margin-bottom: 20px;
    height: 250px;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 400px) {
  .profile h1 {
    font-size: 10vw;
  }
  .profile .profile-picture {
    height: 55vw;
    min-height: 140px;
  }
}
